@mixin truncate-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin visually-hidden {
  position: absolute;
  opacity: 0;
  z-index: -1;
  clip: rect(0 0 0 0);
}

@mixin create-round($diameter) {
  width: $diameter;
  height: $diameter;
  border-radius: 50%;
  overflow: hidden;
}
