/* Fonts */
$main-font-family: "Open Sans", "Arial", sans-serif;

/* Colors */
$color-white: #fff;
$color-black: #000;
$color-black-light: rgba($color-black, 0.04);

$color-blue-light: #69A0F6;
$color-blue-medium: #619AFF;
$color-blue-main: #4488FF;
$color-blue-dark: #3D7AE6;

$color-tomato: #F15866;

$color-grey: #ABABAB;
$color-grey-dark: #284159;
$color-grey-light: rgba($color-black, 0.32);

$border-color: rgba($color-black, 0.16);
$error-color: $color-tomato;

$main-bg-color: rgba($color-white, 0.9);
$accent-bg-color: $color-grey-dark;

$main-text-color: rgba(0, 0, 0, 0.9);
$invert-main-text-color: invert($main-text-color);
$secondary-text-color: $invert-main-text-color;

$main-link-color: $color-blue-main;

$side-menu-link-active-bg-color: $color-blue-main;
$side-menu-link-hover-bg-color: $color-blue-main;

$dropdown-menu-link-hover-bg-color: $color-black-light;

$divider-bg-color: rgba($color-white, 0.12);
$divider-light-bg-color: rgba($color-black, 0.16);

$button-action-bg-color: $color-blue-main;
$button-action-bg-hover-color: $color-blue-light;
$button-action-bg-active-color: $color-blue-dark;
$button-action-color: $invert-main-text-color;

$button-pseudo-hover-color: $color-blue-light;
$button-pseudo-active-color: $color-blue-dark;

$button-disabled-color: $color-grey-light;
$button-disabled-border-color: $border-color;

$placeholder-color: $color-grey-light;

$input-border-color: $color-grey-light;
$input-focus-border-color: $color-blue-main;
$input-disabled-color: $color-grey-light;

$checkbox-default-color: $main-text-color;
$checkbox-focus-color: $color-blue-main;
$checkbox-hover-color: $color-blue-light;
$checkbox-disabled-color: $color-grey-light;

$checkbox-default-indicator-color: $color-grey-light;
$checkbox-focus-indicator-color: $color-blue-main;
$checkbox-hover-indicator-color: $color-blue-light;

$checkbox-checked-indicator-fill: $color-blue-main;
$checkbox-focus-indicator-fill: $color-blue-medium;
$checkbox-hover-indicator-fill: $color-blue-medium;

$checkbox-disabled-indicator-fill: $border-color;
$checkbox-disabled-indicator-color: $border-color;

$select-option-hover-bg-color: $color-black-light;
$select-option-active-bg-color: $color-blue-main;
$select-icon-fill-color: rgba(0, 0, 0, 0.9);

$box-shadow-default-color: rgba($color-black, 0.16);

$border-radius-default: 2px;
