.input-text {
  display: flex;
  flex-direction: column-reverse;
}

.input-text__label {
  padding: 2px 0;
  font-size: 12px;
  line-height: 1.6666667;
}

.input-text__control {
  min-height: 32px;
  padding: 4px 9px;
  font-family: $main-font-family;
  font-size: 14px;
  line-height: 1.5714285;
  border: 1px solid $input-border-color;
  border-radius: $border-radius-default;
  background-color: $color-white;
  caret-color: $color-blue-main;
  outline: none;

  &:focus {
    border-color: $input-focus-border-color;
  }

  &::placeholder {
    color: $placeholder-color;
  }

  &::-ms-clear {
    display: none;
    width: 0;
    height: 0;
  }
}

.input-text__control:not(:disabled):invalid {
  border-color: $error-color;

  & ~ .input-text__label {
    color: $error-color;
  }
}

.input-text__control:disabled {
  color: $input-disabled-color;
  border-color: $border-color;

  & ~ .input-text__label {
    color: $input-disabled-color;
  }
}
