.side-menu {
  position: relative;
}

.side-menu:not(:last-child) {
  padding-bottom: 16px;
  margin-bottom: 16px;

  &::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 40px;
    right: 0;
    height: 1px;
    background-color: $divider-bg-color;
  }
}

.side-menu__title {
  display: flex;
  align-items: center;
  padding: 6px 0 6px 16px;
  color: $secondary-text-color;
}

.side-menu__title-icon {
  flex-shrink: 0;
  margin-right: 8px;
}

.side-menu__title-text {
  font-size: 12px;
  line-height: 1.6666667;
  text-transform: uppercase;
  @include truncate-text
}

.side-menu__link {
  display: block;
  padding: 6px 0 6px 40px;
  color: $secondary-text-color;
  font-size: 12px;
  line-height: 1.6666667;
  text-decoration: none;
  border-radius: $border-radius-default;
  outline: none;
  @include truncate-text;

  &:focus,
  &:hover {
    background-color: $side-menu-link-hover-bg-color;
  }
}

.side-menu__link--active,
.side-menu__link--active:focus,
.side-menu__link--active:hover {
  background-color: $side-menu-link-active-bg-color;
}
