.user-profile-info {
  display: flex;
  align-items: center;
}

.user-profile-info__avatar {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 80px;
  height: 80px;
  margin-right: 24px;
  border-radius: 50%;
  overflow: hidden;
}

.user-profile-info__avatar:hover {
  .user-profile-info__avatar-uploader {
    opacity: 1;
  }
}

.user-profile-info__avatar-uploader {
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0;
}

.user-profile-info__img {
  width: 100%;
  height: auto;
}

.user-profile-info__name {
  font-size: 20px;
  line-height: 32px;
  font-weight: 600;
}

.user-profile-info__position {
  font-size: 14px;
  line-height: 22px;
}
