.user-profile {
  padding: 48px 48px 34px;
  background-color: $main-bg-color;
}

.user-profile__title {
  margin-bottom: 32px;
  font-size: $heading-font-size;
  line-height: 1.4285714;
  font-weight: 600;
  letter-spacing: 0;
}

.user-profile__title--secondary {
  margin-bottom: 16px;
  font-size: $default-font-size;
  line-height: 1.6;
}

.user-profile__section {
  & + .user-profile__section {
    margin-top: 64px;
  }
}

.user-profile__info {
  margin-bottom: 24px;
}
