.user-avatar-uploader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: $secondary-text-color;
  background-color: $color-grey-light;
  cursor: pointer;
}

.user-avatar-uploader__control {
  @include visually-hidden;
}

.user-avatar-uploader__text {
  font-size: 12px;
}
