.user-profile-form__row {
  display: flex;

  & + & {
    margin-top: 24px;
  }

  & + &--indent-lg {
    margin-top: 32px;
  }
}

.user-profile-form__column {
  width: 300px;
  margin-right: 32px;
}

.user-profile-form__control {
  & + & {
    margin-left: 24px;
  }
}
