html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  font-family: $main-font-family;
  color: $main-text-color;
}