.page__wrapper {
  display: flex;
  height: calc(100vh - 56px);
  background-color: $accent-bg-color;
}

.page__sidebar {
  flex-shrink: 0;
  width: 256px;
  padding-right: 32px;
}

.page__content {
  flex-grow: 1;
  width: 100%;
  margin-right: 8px;
  padding: 48px 48px 34px;
  background-color: $main-bg-color;
  border-radius: 2px;
}