.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  padding: 0 32px;
  background-color: $accent-bg-color;
}

.page-header__profile {
  transform: translateX(15px);
  z-index: 1;
}
